<div class="navbar-wrapper">
    <p-menubar [model]="items" class="main-menubar">
        

        <!-- SEZIONE VOCI MENU -->
        <ng-template #item let-item let-root="root">
            <a pRipple class="nav-item">
                <i [class]="item.icon" class="nav-icon"></i>
                <span class="nav-label">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [value]="item.badge" severity="danger"></p-badge>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down' : 'pi-angle-right']" class="arrow"></i>
            </a>
        </ng-template>

        <!-- SEZIONE FINALE -->
        <ng-template #end>
            <div class="nav-end">
                <button class="icon-only-btn notification-btn">
                    <i class="pi pi-bell" pBadge value="3"></i>
                </button>
                <i class="pi pi-user user-icon"></i>
            </div>
        </ng-template>
    </p-menubar>
</div>
